

.aling{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
}


.container{
  margin-top:22vh;
  background: #242424;
  width: 30vw;
  height:60vh;
  border-radius: 5px;

}

.user{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
    /* Usando grid:

            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;
    
    */
}

.user input{
    width: 20vw;
    padding: 10px;
    margin: 5px;
    border-radius:3px;
    border: 1px solid #242424;
    
}

.user button{
    border-radius:3px;
    padding: 10px;
    width: 12vw;
    color: #fff;
    background-color: #242424;
    border: 1px solid #fff;
    transition: 1s all;
}


.user button:hover{
    background-color: #fff;
    border: 1px solid #242424;
    color: #242424;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.form h2{
    color: #fff;
    margin: 10px;
    
}

.form label{
    color: #fff;
    margin-bottom: 8px;
}

.group{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.group input[type="email"],
.group input[type="password"],
.group input[type="text"]{
    display: inline-block;
    padding: 13px;
    border: none;
    color: #242424;
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 255, 255);
    margin-bottom: 16px;
    border-bottom: 5px solid rgba(37, 37, 33, 0.7);
}



.efectlogin1{
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 21vh 100vw;
    border-style: solid;
    border-color: transparent transparent #242424 transparent;
}

.efectlogin2{
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 21vh 100vw 0 0;
    border-style: solid;
    border-color: #242424 transparent transparent transparent;
}


.redirect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.redirect a{
    color: #fff;
    text-decoration: none;
    transition: 1s all;
}
.redirect a:hover{
    color: aqua;
}


@media screen and (max-width:1200px) {

  .container{
        width: 40vw;
        height: 70vh;
        margin-top: 15vh;
    }
    
    
    
  .group input{
        width: 25vw;
    }

 .efectlogin1{
    z-index: none;
    position: none;
    bottom: 0;
    left: 0;
    border-width: 0 0 21vh 100vw;
    border-style: solid;
    border-color: transparent transparent #242424 transparent;
 }

 .efectlogin2{
    z-index:none;
    position:none;
    top: 0;
    left: 0;
    border-width: 21vh 100vw 0 0;
    border-style: solid;
    border-color: #242424 transparent transparent transparent;
 }

    
}   

